*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
header{
    display: flex;
    height: 80px;
    background-color: #ffffff;
    font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #76787a;
}
.log_container{
    margin-left: 3%;
}
.log_container img{
    height: 45px;
}
.actionbar{
    margin-right: 4%;
}

.navbar{
    display: flex;
    min-width: 500px;
    justify-content: space-evenly;
   gap: 15px;
}
.navbar a{
    font-size: 14px;
    letter-spacing: 3px;
    color: #282c3f;
    text-decoration: none;
    font-weight: 660;
    text-transform: uppercase;
    padding: 25px 0;
    transition: all 0.19s ease-in 0s;
}

.navbar a:hover{
    font-size: 20px;
}
/* .navbar a:hover{
    border-bottom: 2px rgb(223, 98, 119) solid;
} */
.navbar a sup{
    color: rgb(231, 35, 35);
    font-size: 10px;
}

.searchbar{
     height: 40px;
     min-width: 200px;
     width: 30%;
     display: flex;
     align-items: center;

}
.searchbar:active{
    border: none;
}
.searchbar input{
    background-color: #f5f5f6;
    color: #696e79;
    flex-grow: 1;
    height: 40px;
    border: none;
    border-radius: 0 5px 5px 0;
}
.searchbar span{
     height: 20px;
     padding: 10px;
     box-sizing: content-box;
     background-color: #f5f5f6;
    color: #282c3f;
    font-weight: 400;
    border-radius: 5px 0 0 5px;
}

.actionbar{
    display: flex;
    min-width: 150px;
    justify-content: space-between;
}
.action_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*main css*/
.banner_container img{
    width: 100%;
}

.banner_container{
    margin-top: 45px ;
}

.category_heading{
    margin-top: 50px;
    margin-left: 30px;
    margin-bottom: 10px;
    font-size: 1.8em;
    letter-spacing: 0.15em;
    color: #3e4152;
    font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.category_items{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 10px;
}
.category_items img{
    width: 250px;
}

.shop_heading{
    margin: 50px 0 10px 30px;
    font-size: 1.8em;
    text-transform: uppercase;
    color: #3e4152;
    letter-spacing: 0.15em;
    font-weight: 700;
    font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}

.shop_items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 10px;
}
.shop_items img{
    width: 250px;
}


.container_footer{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    margin-bottom: 50px;
}
.box1,.box2,.box3{
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
}
h3{
    margin-bottom: 20px;
    color: #282c3f;
    font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}
a{
    text-decoration: none;
    color: #696b79;
    font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}

footer .licence{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    color: #94969f;
     font-size: 18px;
     border-top: 1px solid #94969f;
     padding: 10px;
     box-sizing: border-box;
}
